<div class="page-header">
  <h1><%= @metric.name %> - <%= @metric.type %></h1>
</div>

<table>
  <tr>
    <th>Hour</th>
    <th>Count</th>
  </tr>

  <% @metric.recent_hours.each do |metric_hour| %>
  <tr>
    <td><%= metric_hour[:hour] %></td>
    <td><%= metric_hour[:result] %></td>
  </tr>
  <% end %>

</table>
