<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
</script>

<% charts.each do |chart| %>
  <div id="<%= chart.id.to_json %>"></div>
  <script type="text/javascript">
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(
      function(){
        var data = new google.visualization.DataTable(<%= chart.data.to_json %>);
        var options = <%= chart.options.to_json %>;
        var div = document.getElementbyId(<%= chart.id.to_json %>)
        new google.visualization.LineChart(div).draw(data, options)
    });

  </script>
<% end %>
