<div class="jumbotron">
  <h1>Avast ye mateys!</h1>
  <p>There's no dashboard yet, but you can view metrics and features through the nav above.</p>
</div>
<div>
<%= partial :'shared/changes', :locals => {:changes => @changes } %>
