body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.home > p > .btn {
  margin: 5px 0;
}

.editable-error-block{
  font-size: 14px;
  font-weight: bold;
}

.editable-click{
  border-bottom: none;
  cursor: pointer;
}

.editable-click:hover {
  background-color: #EEE;
}

.editable-empty {
  color: #999;
}
